.imagenes-cursos {
    -webkit-transition: 0.4s;
}

.imagenes-cursos:hover {
    -webkit-transition: 0.4s;
    -webkit-transform: scale(1.02);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
}