<div class="container">
  <div class="row">
    <!-- PRIMER CONTENEDOR(APARECE NOMBRE, AUTOR, ETC.) -->
    <div class="col bg-dark text-light text-center mb-3">
      <h1 class="pt-3">{{coursesService.selectedCurso.nombre}}</h1>
      <h5>{{coursesService.selectedCurso.descripcion}}</h5>
      <h5>Creado por: <strong>{{coursesService.selectedCurso.autor}}</strong></h5>
    </div>

    <!-- SEGUNDO CONTENEDOR(APARECE IMAGEN, PRECIO, ETC.) -->
    <div class="col-md-auto">
      <div class="card mb-3 imagenes-cursos" style="width: 18rem;">
        <img src="../../../assets/new.svg" class="oferta-icon">
        <img src="{{ coursesService.URL_IMG + coursesService.selectedCurso.imagen }}" class="card-img-top" width="320" height="250" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ coursesService.selectedCurso.nombre }}</h5>
            <p class="card-text text-black-50"><i class="material-icons tm-ic-16">alarm</i>{{ coursesService.selectedCurso.horas }} horas</p>
            <p class="card-text text-black-50"><img src="../../../assets/money.svg" class="money-icon">{{ coursesService.selectedCurso.precio }} €</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
      <div class="col-md-auto bg-light text-dark mb-3">
          <h3 class="text-center mt-3 mb-3">Aprenderás como:</h3>
          <h5 [innerHTML]="coursesService.selectedCurso.aprendizaje" class="aprendizaje"></h5>
      </div>
  </div>



</div>
