<div class="container mb-5">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui velit, efficitur sit amet augue eu, elementum feugiat quam. Quisque vestibulum egestas velit, eget interdum nunc pellentesque id. Mauris volutpat, justo sit amet eleifend suscipit, elit nibh condimentum lacus, id rhoncus velit mauris sit amet turpis. Aliquam ut justo nec nisi elementum porta et quis augue. Etiam lobortis convallis erat sit amet congue. Etiam convallis est eget nisi volutpat, id congue lacus volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>

    <p>Donec eget eros sit amet neque scelerisque dignissim sed eget libero. Nam nec volutpat dolor, quis tempus velit. Cras et tortor tristique, vehicula quam a, congue nisl. Cras rhoncus elementum eros ac vehicula. Fusce sit amet metus rhoncus, bibendum eros sed, efficitur nibh. Ut accumsan auctor nisi bibendum efficitur. Integer mi sapien, viverra sit amet eros sit amet, gravida commodo massa. Nam quis congue urna.</p>

    <p>Vestibulum lacinia sit amet odio ac pulvinar. Sed laoreet pharetra sapien non dignissim. Phasellus facilisis mollis erat. Etiam ultrices diam erat, quis sagittis nisi vehicula sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus a dictum neque, a accumsan lacus. Nam vitae molestie erat, sed maximus enim. Vestibulum fringilla dolor non nisi ultrices tincidunt. Nullam fermentum lorem quis metus bibendum faucibus non sed sapien. Aenean vulputate ultricies faucibus. Nulla accumsan, tellus at lacinia porttitor, erat metus condimentum lacus, a pulvinar nulla justo et dui. Duis placerat tincidunt mi rutrum tempor. Morbi varius tincidunt eros quis mollis. Ut eget cursus diam. Aliquam vel eros justo.</p>

    <p>Morbi porttitor, odio vel bibendum vulputate, est nisl aliquam nisi, a molestie magna metus eu odio. Quisque finibus aliquet turpis congue interdum. Nullam at bibendum odio, in placerat diam. Mauris nec nibh id erat pretium dignissim eu ac nulla. Integer commodo sollicitudin odio, vitae porta mi pellentesque in. Morbi vitae dapibus nulla, nec pulvinar leo. Curabitur blandit gravida nunc sed convallis. Sed vitae dui tincidunt, viverra est sed, ultrices nunc. Integer pretium turpis nec leo laoreet, quis varius augue consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

    <p>Cras sed eros porta, molestie elit ac, aliquam lacus. Vestibulum mollis dictum sodales. Vivamus at fermentum diam, at blandit risus. Donec risus erat, ornare maximus luctus nec, accumsan ac dolor. Etiam congue tellus libero, ut efficitur enim facilisis id. Proin a pulvinar odio, et efficitur eros. Fusce nec tincidunt massa, ut interdum lacus.</p>

</div>

<div class="mb-5 bg-warning">
  <div class="container pt-3 pb-3">

    <div class="row">
      <div class="col-lg-6">

        <h3>Ofertas de Enero en cursos de JAVA</h3> 
        <p>Todos nuestros cursos de la categoría Java tienen un descuento del 40% este mes de Enero.</p>
        <p>¡No dudes en inscribirte a cualquiera de ellos!</p>

      </div>


      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">¡Cursos con descuentos!</h5>
            <p class="card-text">Para acceder a los cursos que están en rebajas, haz clic en el botón inferior.</p>
            <a href="#" class="btn btn-outline-warning enlaces-ng">Descuentos</a>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="container mb-5">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui velit, efficitur sit amet augue eu, elementum feugiat quam. Quisque vestibulum egestas velit, eget interdum nunc pellentesque id. Mauris volutpat, justo sit amet eleifend suscipit, elit nibh condimentum lacus, id rhoncus velit mauris sit amet turpis. Aliquam ut justo nec nisi elementum porta et quis augue. Etiam lobortis convallis erat sit amet congue. Etiam convallis est eget nisi volutpat, id congue lacus volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
    
        <p>Donec eget eros sit amet neque scelerisque dignissim sed eget libero. Nam nec volutpat dolor, quis tempus velit. Cras et tortor tristique, vehicula quam a, congue nisl. Cras rhoncus elementum eros ac vehicula. Fusce sit amet metus rhoncus, bibendum eros sed, efficitur nibh. Ut accumsan auctor nisi bibendum efficitur. Integer mi sapien, viverra sit amet eros sit amet, gravida commodo massa. Nam quis congue urna.</p>
    
        <p>Vestibulum lacinia sit amet odio ac pulvinar. Sed laoreet pharetra sapien non dignissim. Phasellus facilisis mollis erat. Etiam ultrices diam erat, quis sagittis nisi vehicula sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus a dictum neque, a accumsan lacus. Nam vitae molestie erat, sed maximus enim. Vestibulum fringilla dolor non nisi ultrices tincidunt. Nullam fermentum lorem quis metus bibendum faucibus non sed sapien. Aenean vulputate ultricies faucibus. Nulla accumsan, tellus at lacinia porttitor, erat metus condimentum lacus, a pulvinar nulla justo et dui. Duis placerat tincidunt mi rutrum tempor. Morbi varius tincidunt eros quis mollis. Ut eget cursus diam. Aliquam vel eros justo.</p>
    
        <p>Morbi porttitor, odio vel bibendum vulputate, est nisl aliquam nisi, a molestie magna metus eu odio. Quisque finibus aliquet turpis congue interdum. Nullam at bibendum odio, in placerat diam. Mauris nec nibh id erat pretium dignissim eu ac nulla. Integer commodo sollicitudin odio, vitae porta mi pellentesque in. Morbi vitae dapibus nulla, nec pulvinar leo. Curabitur blandit gravida nunc sed convallis. Sed vitae dui tincidunt, viverra est sed, ultrices nunc. Integer pretium turpis nec leo laoreet, quis varius augue consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    
        <p>Cras sed eros porta, molestie elit ac, aliquam lacus. Vestibulum mollis dictum sodales. Vivamus at fermentum diam, at blandit risus. Donec risus erat, ornare maximus luctus nec, accumsan ac dolor. Etiam congue tellus libero, ut efficitur enim facilisis id. Proin a pulvinar odio, et efficitur eros. Fusce nec tincidunt massa, ut interdum lacus.</p>

</div>
